.canvas {
    background-color: #575757;
    height: calc(100vh - 150px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.content-space {
    height: auto;
    width: 100%;
}

.gallery-img-canvas:hover {
    border: 1px black solid;
    cursor: move;
}